---
import { getImage } from "astro:assets";
import MainLayout from "@web/layouts/MainLayout.astro"
import StripAside from "@web/components/page-primary/aside/StripAside.astro"
import StickyNavBar from "@web/components/StickyNavBar.astro"
import ComicStrip from "@web/components/ComicStrip.astro"
import Transcript from "@web/components/Transcript.astro"
import Comments from "@web/components/page-primary/comments/Comments.astro"
import getLocalizedLinkToComicStrip from "@server/actions/GetLocalizedLinkToComicStrip"
import { getLangFromUrl } from "@server/i18n/utils"
import type { PageInfo } from "@server/GetPageInfo"

export interface Props {
	info: PageInfo
	title: string
}
const { info, title } = Astro.props
const language = getLangFromUrl(Astro.url)

const { backward, forward } = info
const previous = backward ? getLocalizedLinkToComicStrip({ ...backward.one, language }) : null
const next = forward ? getLocalizedLinkToComicStrip({ ...forward.one, language }) : null
---
<MainLayout info={info} title={title}>
	<div class="grid">
		<ComicStrip info={info} />
		{info.description && //TODO this should be mandatory
			<Transcript info={info} />}
		<StickyNavBar info={info} />
		<StripAside info={info} />
		<Comments info={info} />
	</div>
</MainLayout>
<script define:vars={{ previous, next }}>
	const handleOnKeyDown = (e) => {
		// We only care about the character when pressed alone
		if (e.ctrlKey || e.shiftKey || e.altKey || e.metaKey) return

		const navigateTo = (path) => {
			if (!path) return
			window.location.href = path
			e.preventDefault()
		}

		if (["k", "K", "ArrowLeft"].includes(e.key))
			navigateTo(previous)
		else if (["j", "J", "ArrowRight"].includes(e.key))
			navigateTo(next)
	}

	document.body.addEventListener("keydown", handleOnKeyDown)

	const main = document.querySelector("main")
	const MOVE_THRESHOLD = 100

	let initialX = 0
	let initialY = 0
	let initialScrollPosition = 0

	main.addEventListener("touchstart", e => {
		const touch = e.touches[0]
		initialX = touch.pageX
		initialY = touch.pageY
		initialScrollPosition = document.documentElement.scrollTop
	}, { passive: true })

	main.addEventListener("touchend", e => {
		const touch = e.changedTouches[0]
		const xDisplacement = touch.pageX - initialX
		const scrollDisplacement = document.documentElement.scrollTop - initialScrollPosition
		const yDisplacement = touch.pageY - initialY + scrollDisplacement

		//Non horizontal swipes are ignored
		if (Math.abs(yDisplacement) > MOVE_THRESHOLD) return

		if (xDisplacement < -MOVE_THRESHOLD && next) {
			window.location.href = next
		} else if (xDisplacement > MOVE_THRESHOLD && previous) {
			window.location.href = previous
		}
	}, { passive: true })
</script>
<style>
    .grid {
        --donations__button_size: 4.5rem;
        --aside__section_padding: 1.5rem;
        /* using donations section as a proxy to calculate aside width */
        --aside--desktop_width: calc(
                var(--border-wide-width) * 2 +
                var(--aside__section_padding) * 2 +
                var(--donations__button_size) * 2 +
                var(--buttons_gap)
        );

        --section--mobile_padding: 1rem;

        display: grid;

        grid-template-columns: var(--strip_width) var(--aside--desktop_width);
        grid-template-areas:
            "main strip-aside"
            "transcript transcript"
            "sticky-bar ."
            "comments comments";
        gap: 1.25rem;
    }

    @media (max-width: 72em) {
        .grid {
            grid-template-columns: fit-content(var(--strip_width));
            grid-template-areas:
                "main"
                "transcript"
                "sticky-bar"
                "strip-aside"
                "comments";
        }
    }
</style>
