---
import MainLayout from '@web/layouts/MainLayout.astro'
import LastUpdate from '@web/components/LastUpdate.astro'
import StickyNavBar from '@web/components/StickyNavBar.astro'
import Characters from '@web/components/Characters.astro'
import ThankYou from '@web/components/ThankYou.astro'
import Comments from '@web/components/Comments.astro'

export interface Props {
    title: string;
	info: any;
}

const { title, info } = Astro.props;
const { backward, forward } = info;
---

<MainLayout title={title}>
    <div class="grid">
        <main>
            <slot/>
        </main>
        <LastUpdate/>
        <Characters/>
        <ThankYou/>
        <StickyNavBar info={info} />
        <Comments/>
    </div>
</MainLayout>
<script define:vars={{ backward, forward }}>
    const handleOnKeyDown = (e) => {
        switch (e.key) {
            case "ArrowLeft":
                if (backward) {
                    window.location.replace(`/chapters/${backward.one.chapter}/pages/${backward.one.page}#strip`)
                    e.preventDefault()
                }
                break
            case "ArrowRight":
                if (forward) {
                    window.location.replace(`/chapters/${forward.one.chapter}/pages/${forward.one.page}#strip`)
                    e.preventDefault()
                }
                break
        }
    }

    document.body.addEventListener("keydown", handleOnKeyDown)
</script>
<style>
    main {
        grid-area: main;
    }

    .grid {
        display: grid;
        grid-template-columns: 862px 208px;
        gap: 18px;

        padding: 30px 0;

        grid-template-areas:
            "main last-update"
            "main characters"
            "main thank-you"
            "sticky-bar nothing"
            "comments comments";
    }

    @media (max-width: 992px) {
        .grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                "main"
                "last-update"
                "characters"
                "thank-you"
                "sticky-bar"
                "comments";
        }
    }
</style>
