---
import { t } from "i18next"
import { getImage } from "@astrojs/image"

export interface Props { info: RelatedPages }

const { info } = Astro.props
const { image, description } = info

const {src: src900w} = await getImage({
	src: image,
	width: "900",
	height: "1273",
	format: "webp",
	quality: 100
})

const { src: src568w } = await getImage({
	src: image,
	width: "568",
	height: "804",
	format: "webp"
})

//This strip is a little hacky because chrome likes to add a white line inside the borders of the image.
//This means that on normal strips, we do not notice the issue, but on covers it shows wrongly.
//Having tried all internet options available, best I could think of was an extra div that does the border.


//		srcset={`${src568w} 568w, ${src900w} 900w`}
//	  sizes="(max-width: 600px) 568px,
//			 900px"
---
<main id="main" tabindex="-1">
	<h2 class="semantic-only">{t("strip.heading-main")}</h2>
	<a href={image} target="_blank" rel="noreferrer noopener" aria-label={t("accessibility.strip-link")}>
		<img
			src={src900w}
			alt={description}
		/>
	</a>
</main>
<style>
	main {
		grid-area: main;
		position: relative;
		max-width: 100%;
	}

	img {
		display: block;
		width: 100%;
		aspect-ratio: var(--strip-aspect-ratio);
		background-color: white;
		border-radius: var(--border-radius);
		border: var(--border-wide);
	}
</style>