---
import {t} from "i18next"
import {Image} from "astro:assets"
import getStripNameParts from "@server/actions/GetStripNameParts"
import {RelatedPages} from "@server/Utils"

export interface Props {
	info: RelatedPages
}

const {info} = Astro.props
const {image, description, current} = info

const heading = [t("strip.heading-main"), ...getStripNameParts(current)].join(" | ")
---
<main id="main" tabindex="-1">
    <h2 class="semantic-only">{heading}</h2>
    <Image src={image} alt={description} loading="eager" decoding="sync" width={864} height={1222} quality="max" tabindex="0"/>
    <a href={image} target="_blank" rel="noreferrer noopener" aria-hidden="true" tabindex="-1"/>
</main>
<style>
    main {
        grid-area: main;
        position: relative;
        max-width: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: var(--border-radius);
        border: var(--border-wide);
    }

    a {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
</style>