---
import {t} from "i18next"
import {Image} from "astro:assets"
import getStripNameParts from "@server/actions/GetStripNameParts"
import {RelatedPages} from "@server/Utils"

export interface Props {
	info: RelatedPages
}

const {info} = Astro.props
const {image, description, current} = info
//This strip is a little hacky because chrome likes to add a white line inside the borders of the image.
//This means that on normal strips, we do not notice the issue, but on covers it shows wrongly.
//Having tried all internet options available, best I could think of was an extra div that does the border.



	//src: image,
	//width: "568",
	//height: "804",
	//format: "webp"
//		srcset={`${src568w} 568w, ${src900w} 900w`}
//	  sizes="(max-width: 600px) 568px,
//			 900px"
const heading = [t("strip.heading-main"), ...getStripNameParts(current)].join(" | ")
---
<main id="main" tabindex="-1">
    <h2 class="semantic-only">{heading}</h2>
    <a href={image} target="_blank" rel="noreferrer noopener">
        <Image src={image} alt={description} loading="eager" width={856} height={1273} quality="max" />
    </a>
</main>
<style>
    main {
        grid-area: main;
        position: relative;
        max-width: 100%;
    }

    img {
        display: block;
        width: 100%;
        aspect-ratio: var(--strip-aspect-ratio);
        background-color: white;
        border-radius: var(--border-radius);
        border: var(--border-wide);
    }
</style>