---
import {t} from "i18next"
import {Image} from "astro:assets"
import getStripNameParts from "@server/actions/GetStripNameParts"
import {RelatedPages} from "@server/Utils"

export interface Props {
	info: RelatedPages
}

const {info} = Astro.props
const {image, description, current} = info

	//src: image,
	//width: "568",
	//height: "804",
	//format: "webp"
//		srcset={`${src568w} 568w, ${src900w} 900w`}
//	  sizes="(max-width: 600px) 568px,
//			 900px"

//TODO check that strip size is correct
const heading = [t("strip.heading-main"), ...getStripNameParts(current)].join(" | ")
---
<main id="main" tabindex="-1">
    <h2 class="semantic-only">{heading}</h2>
    <a href={image} target="_blank" rel="noreferrer noopener">
        <Image src={image} alt={description} loading="eager" decoding="sync" width={856} height={1273} quality="max"  />
    </a>
</main>
<style>
    main {
        grid-area: main;
        position: relative;
        max-width: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: var(--border-radius);
        border: var(--border-wide);
    }

    a {
        max-height: 856px;
    }
</style>