---
import i18next, {t} from "i18next"
import {Image} from "astro:assets"
const language = i18next.language
import KeepInTouch from "@web/components/KeepInTouch.astro"
import RichText from "@web/components/RichText.astro"
import getAuthorsInfo from "@server/actions/GetAuthorsInfo"
import type {PageInfo} from "@server/GetPageInfo"
import getLocalizedDate from "@server/date/GetLocalizedDate"
const protocol = import.meta.env.PROTOCOL!
const domain = import.meta.env.DOMAIN!

export interface Props {
	info: PageInfo
}

const {info} = Astro.props
const authors = await getAuthorsInfo({language})
const lucy = authors.find(author => author.slug === "lucy")
const date = getLocalizedDate({date: info.createdAt, language})
---
<aside aria-label={t("landmarks.social")}>
	{info.author_comment &&
          <section class="author-comment">
              <div class="author-comment__header">
                  <Image src={lucy.portrait} alt="" width={40} height={40}/>
                  <span>{lucy.name}</span>
                  <time class="author-comment__header-date" datetime={date.datetime}>{date.localized}</time>
              </div>
              <RichText text={info.author_comment}/>
          </section>
	}
    <KeepInTouch/>
    <section aria-label={t("landmarks.comments")}>
        <script
                src="https://giscus.app/client.js"
                data-repo="zogar1993/degaussing-astro"
                data-repo-id="R_kgDOIaWmTA"
                data-category="General"
                data-category-id="DIC_kwDOIaWmTM4CS02J"
                data-mapping="specific"
                data-term={`/${language}/chapters/${info.current.chapter}/pages/${info.current.page}/`}
                data-strict="0"
                data-reactions-enabled="0"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme={`${protocol}://${domain}/styles/giscus.css`}
                data-lang={language}
                data-loading="lazy"
                crossorigin="anonymous"
                async
        ></script>
    </section>
</aside>
<style>
    .author-comment {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        --rich-text_font-size: 0.875rem;
    }

    .author-comment__header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
        font-size: 0.875rem;
    }

    .author-comment__header-date {
        color: var(--color-muted);
    }

    aside {
        grid-area: comments;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        background-color: var(--background-color-primary);
        border-radius: var(--border-radius);
        border: var(--border-wide);

        padding: 2.5rem 5.5rem;
    }

    @media (max-width: 60em) {
        aside {
            padding: 1.5rem 1rem;
        }
    }
</style>
