---
import i18next, {t} from "i18next"
const language = i18next.language
import {getSocialLinks} from "@server/actions/GetSocialLinks"

const links = await getSocialLinks()
---
<header>
    <h2 class="semantic-only">{t("comments.heading")}</h2>
    <div class="heading">{t("comments.thanks")} <span aria-hidden="true">{t("comments.heading")}</span></div>
    <nav aria-label={t("landmarks.navigation-social")}>
        <ul>
					{
						links.map((link) => (
                    <li>
                        <a href={link.href} title={link.text} target="_blank" rel="noopener">
                            <img src={link.icon} alt={link.text}/>
                        </a>
                    </li>
						))
					}
        </ul>
    </nav>
</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        align-items: center;
    }

    ul {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 2rem;
        height: 2rem;
        background-color: rgba(128, 128, 128, 0.44);
        border-radius: var(--border-radius);

        transition: var(--transition-hover);
        transition-property: background-color;
    }

    a > img {
        transition: var(--transition-hover);
        transition-property: filter;
    }

    a:hover {
        background-color: var(--background-color-hover);
    }

    a:hover > img {
        filter: var(--filter-image-hover);
    }

    .heading {
        font-family: var(--font-family-title);
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.25em;
        color: white;
    }

    @media (max-width: 60em) {
        header {
            flex-direction: column;
            gap: 1.5rem;
        }

        .heading {
            font-size: 1.5rem;
        }
    }
</style>
