---
import { Image } from "astro:assets"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { Person } from "@transport/Person"

const capitalize = (str: string) => str.charAt(0).toUpperCase() + str.slice(1)
const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

export type Props = {
	people: Array<Person>
}

const { people } = Astro.props as Props
---
<ul>
	{
		people.map((person) =>
			<li id={person.slug}>
				<div class="text-container">
					<h4>{person.name}</h4>
					{person.age > 0 &&
						<p><span>{t("characters.age")}: </span>{person.age} {t("characters.years-old")}.</p>}
					{
						<p><span>{t("characters.likes")}: </span>{capitalize(person.likes.join(", "))}.</p>
						<p><span>{t("characters.dislikes")}: </span>{capitalize(person.dislikes.join(", "))}.</p>
						<p class="description">{person.description}</p>
					}
				</div>
				<Image
					class={person.is_square_portrait ? "portrait--shape-square" : "portrait--shape-rectangular"}
					src={person.portrait}
					alt={person.name}
					width={person.is_square_portrait ? 240 : 239}
					height={person.is_square_portrait ? 240 : 338}
					quality="max"
				/>
			</li>
		)
	}
</ul>
<style>
    img {
        border-radius: var(--component_border-radius);
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    li {
        display: flex;
        gap: 1.25rem;
    }

    li:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .portrait--shape-rectangle {
        width: 239px;
        height: auto;
        min-width: 239px;
        aspect-ratio: 239 / 338;
        border-radius: var(--component_border-radius);
    }

    .portrait--shape-square {
        width: 240px;
        height: auto;
        min-width: 240px;
        aspect-ratio: 1;
    }

    .text-container {
        padding-left: .25rem;
        padding-right: .25rem;
        gap: .25rem;
        flex-grow: 1;
    }

    h4 {
        font-family: var(--heading_font-family);
        font-size: 4rem;
        color: var(--heading_color);
        margin-bottom: 0.5rem;
    }

    span {
        color: var(--heading_color);
        font-weight: 600;
    }

    @media (max-width: 72em) {
    		.text-container {
    			width: 220px;
    		}

        li {
            gap: 1rem;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
        }
    }
</style>