---
import { Image } from "astro:assets"
import Heading from "@web/components/page-primary/aside/Heading.astro"
import getLastUpdate from "@server/actions/GetLastUpdate"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const { image, chapter, date } = await getLastUpdate({ language })
---
<section aria-label={t("landmarks.last-update")}>
	<div class="text-container">
		<Heading>{t("landmarks.last-update")}</Heading>
		<time datetime={date.datetime}>{date.localized}</time>
		<span>{t("strip.chapter")} {chapter}</span>
	</div>
	<Image src={image} alt={`${t("strip.chapter")} ${chapter}`} width={161} height={227} />
</section>
<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    time {
        margin-top: 0.5rem;

        font-weight: 600;
        font-size: 1rem;
        color: var(--color-text-aside);
    }

    span {
        margin-top: 0.75rem;

        font-size: 1rem;
        color: var(--color-text-aside);
    }

    img {
        width: 100%;
        height: auto;
        aspect-ratio: var(--strip_aspect-ratio);
        border-radius: var(--border-radius);
    }

    @media (max-width: 72em) {
        section {
            flex-direction: row;
            justify-content: space-between;
        }

        .text-container {
            gap: 1rem
        }

        img {
            width: 6rem;
            height: 8.5rem;
        }
    }
</style>
