---
import { Image } from "astro:assets"
import Heading from "@web/components/page-primary/aside/Heading.astro"
import getLastUpdate from "@server/actions/GetLastUpdate"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const { image, chapter, date } = await getLastUpdate({ language })
const split_heading = t("landmarks.last-update").split(" ")
---
<section aria-label={t("landmarks.last-update")}>
	<div class="text-container">
		<Heading>{split_heading[0]}&nbsp;<br/>{split_heading[1]}</Heading>
		<time datetime={date.datetime}>{date.localized}</time>
		<span>{t("strip.chapter")} {chapter}</span>
	</div>
	<Image src={image} alt={`${t("strip.chapter")} ${chapter}`} width={161} height={227} />
</section>
<style>
    section {
    		grid-area: last-update;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    time {
        font-weight: 600;
        font-size: 1rem;
        color: var(--aside__text_color);
    }

    span {
        margin-top: 0.75rem;

        font-size: 1rem;
        color: var(--aside__text_color);
    }

    img {
        width: 100%;
        height: auto;
        aspect-ratio: var(--strip_aspect-ratio);
        border-radius: var(--component_border-radius);
    }

    @media (max-width: 72em) {
        section {
            flex-direction: row;
        		gap: 1rem;
        }

        img {
            width: auto;
            height: calc(1.5rem * 1.2 + var(--heading_bottom-margin) + 3rem * 2 + 0.5rem);
        }
    }

    @media (max-width: 54em) {
        section {
            flex-direction: column;
        }

        img {
            width: auto;
            flex-grow: 1;
        }

        br {
        	display: none;
        }
    }

    @media (max-width: 36em) {
        section {
            flex-direction: row;
            justify-content: space-between;
        }

        img {
        		margin-inline: auto;
            height: calc(1.5rem * 1.2 + var(--heading_bottom-margin) + 3rem * 2 + 0.5rem);
            width: auto;
            flex-grow: 0;
        }
    }
</style>
