---
import { Image } from "astro:assets"
import getLastUpdate from "@server/actions/GetLastUpdate"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"

const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const { image, chapter, date } = await getLastUpdate({ language })
const split_heading = t("landmarks.last-update").split(" ")
---
<section aria-label={t("landmarks.last-update")}>
	<div class="text-container">
		<h2>{split_heading[0]}&nbsp;<br/>{split_heading[1]}</h2>
		<time datetime={date.datetime}>{date.localized}</time>
		<span>{t("comic.chapter.singular")} {chapter}</span>
	</div>
	<Image src={image} alt={`${t("comic.chapter.singular")} ${chapter}`} width={188} height={266} />
</section>
<style>
    section {
    		grid-area: last-update;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    h2 {
    		margin-bottom: 0.25em;
    }

    time {
        font-weight: 600;
        font-size: 1rem;
        color: var(--aside__text_color);
    }

    span {
        margin-top: 1rem;

        font-size: 1rem;
        color: var(--aside__text_color);
    }

    img {
        width: 100%;
        height: auto;
        aspect-ratio: var(--strip_aspect-ratio);
        border-radius: var(--component_border-radius);
        max-height: 277px;
    }

    @media (54em < width <= 72em) {
        section {
            flex-direction: row;
        		gap: 1rem;
        }

        img {
            width: auto;
            /* TODO base this on donations */
            height: calc(1.5rem * 1.2 + var(--heading_margin-bottom) + 3rem * 2 + 0.5rem);
        }
    }

    @media (36em < width <= 54em) {
        section {
            flex-direction: column;
            gap: 0;
        }

        .text-container {
        	flex-grow: 1;
        }

        span {
        		margin-top: auto;
        		margin-inline: auto;
        		margin-bottom: 0.5em;
        }

        img {
        		margin-inline: auto;
        		max-width: 167px;
            max-height: 236px;
        }

        br {
        	display: none;
        }
    }

    @media (width <= 36em) {
        section {
            flex-direction: row;
            justify-content: space-between;
        }

        img {
        		margin-inline: auto;
            height: calc(1.5rem * 1.2 + var(--heading_margin-bottom) + 3rem * 2 + 0.5rem);
            width: auto;
        }
    }
</style>
