---
import i18next, { t } from "i18next"
import {Image} from "astro:assets"
import getLastUpdate from "@server/actions/GetLastUpdate"
import Heading from "@web/components/aside/Heading.astro"

const { image, chapter, date, datetime } = await getLastUpdate({
	language: i18next.language
})
---

<section aria-label={t("landmarks.last-update")}>
	<div class="text-container">
		<Heading>{t("strip.last-update")}</Heading>
		<time datetime={datetime}>{date}</time>
		<span>{t("strip.chapter")} {chapter}</span>
	</div>
	<Image src={image} alt={`${t("strip.chapter")} ${chapter}`} width={161} height={227} />
</section>
<style>
	section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		gap: .75rem;
	}

	time {
		font-family: var(--font-family-text);
		font-weight: 600;
		font-size: 1rem;
		line-height: 1.5em;
		color: var(--color-text-aside);
	}

	span {
		font-family: var(--font-family-text);
		font-size: .875rem;
		line-height: 1.5em;
		color: var(--color-text-aside);
	}

	img {
		width: 100%;
		height: auto;
		aspect-ratio: var(--strip-aspect-ratio);
		border-radius: var(--border-radius);
	}

	@media (max-width: 60em) {
		:global(.aside-last-update) {
			flex-direction: row;
			justify-content: space-between;
		}

		.text-container {
			gap: 1rem
		}

		img {
			width: 6rem;
			height: 8.5rem;
		}
	}
</style>
