---
import { Image } from "astro:assets"
import RichText from "@web/components/general/RichText.astro"
import SocialLinks from "@web/components/page-primary/comments/SocialLinks.astro"
import getLocalizedDate from "@server/localization/GetLocalizedDate"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { PageInfo } from "@server/GetPageInfo"

export interface Props {
	info: PageInfo
}

const { info } = Astro.props
const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const date = getLocalizedDate({ date: info.created_at, language })
---
{info.author_comments.length > 0 &&
<section aria-label={t("landmarks.author")}>
	<div class="heading-container">
		<h2>{t("landmarks.author")}</h2>
		<SocialLinks />
	</div>
	<div class="author-comments">
		{info.author_comments.map(({ author, comment }) =>
			<div class="author-comment">
				<div class="comment-header">
					<Image src={author.portrait} alt="" width={48} height={48} quality="max" />
					<span>{author.name}</span>
					<time class="comment-header__date" datetime={date.datetime}>{date.localized}</time>
				</div>
				<RichText text={comment} />
			</div>
		)}
	</div>
</section>
	}
<style>
    section {
        display: flex;
        flex-direction: column;
        --author-comment_font-size: 1rem;
        --rich-text_font-size: var(--author-comment_font-size);
    }

    .comment-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: var(--author-comment_font-size);
        margin-bottom: 1rem;
    }

    .comment-header__date {
        color: var(--text--muted_color);
    }

    .heading-container {
        display: flex;
        justify-content: space-between;
    }

    .heading-container {
        display: flex;
        justify-content: space-between;
    }

    .author-comments {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media (width <= 72em) {
        .comment-header {
            margin-bottom: 0.5rem;
        }
    }
</style>