---
import { Image } from "astro:assets"
import RichText from "@web/components/general/RichText.astro"
import SocialLinks from "@web/components/page-primary/comments/SocialLinks.astro"
import getAuthorsInfo from "@server/actions/GetAuthorsInfo"
import getLocalizedDate from "@server/localization/GetLocalizedDate"
import { getLangFromUrl, useTranslations } from "@server/i18n/utils"
import type { PageInfo } from "@server/GetPageInfo"

export interface Props {
	info: PageInfo
}

const { info } = Astro.props
const language = getLangFromUrl(Astro.url)
const t = useTranslations(language)

const authors = await getAuthorsInfo({ language })
const lucy = authors.find(author => author.slug === "lucy")
const date = getLocalizedDate({ date: info.createdAt, language })
---
{info.author_comment &&
<section aria-label={t("landmarks.author")}>
	<div class="heading-container">
		<h2 class="heading">{t("landmarks.author")}</h2>
		<SocialLinks />
	</div>
	<div class="comment-header">
		<Image src={lucy.portrait} alt="" width={48} height={48} quality="max" />
		<span>{lucy.name}</span>
		<time class="comment-header__date" datetime={date.datetime}>{date.localized}</time>
	</div>
	<RichText text={info.author_comment} />
</section>
	}
<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        --author-comment_font-size: 1rem;
        --rich-text_font-size: var(--author-comment_font-size);
    }

    .comment-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: var(--author-comment_font-size);
    }

    .comment-header__date {
        color: var(--text--muted_color);
    }

    .heading {
        font-family: var(--heading_font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        color: var(--heading_color);
    }

    .heading-container {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 72em) {
        .heading {
            font-size: 1.5rem;
        }
    }
</style>