---
import i18next, { changeLanguage } from "i18next";
import { getImage } from "@astrojs/image";
import MainLayout from "@web/layouts/MainLayout.astro";
import getCharactersInfo from "@server/actions/GetCharactersInfo";

changeLanguage("en-US");

const characters = await getCharactersInfo({ language: i18next.language });
for (const character of characters) {
    const { src } = await getImage({
        src: character.portrait,
        width: "222",
        height: "313",
        format: "avif"
    });
    character.portrait = src;
}
---

<MainLayout title="Degaussing Comic">
	<main>
		<section>
			{
				characters.map((character) => (
					<article id={character.slug}>
						<img src={character.portrait} alt={character.name} />
						<div class="text-container">
							<h4>{character.name}</h4>
							<dl>
								<div class="key-value">
									<dt>Age</dt>
									<dd>{character.age} years old.</dd>
								</div>
								<div class="key-value">
									<dt>Likes</dt>
									<dd>{character.likes.join(", ")}.</dd>
								</div>
								<div class="key-value">
									<dt>Dislikes</dt>
									<dd>{character.dislikes.join(", ")}.</dd>
								</div>
							</dl>
							<p>{character.description}</p>
						</div>
					</article>
				))
			}
		</section>
	</main>
</MainLayout>
<style>
	main {
		width: min(862px, 100vw);
		margin: 30px 0;

		background-color: var(--background-color-secondary);
		border-radius: var(--border-radius);

		padding: 25px 32px 32px 32px;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 2px;

		background: #ffffff;
		border: 1px solid #1d1d1b;
		border-radius: var(--border-radius);

		padding: 24px;
	}

	article {
		display: flex;
		gap: 20px;
	}

	article:nth-child(even) {
		flex-direction: row-reverse;
	}

	img {
		width: 239px;
		height: 338px;
		border-radius: var(--border-radius);
	}

	h4 {
		font-family: var(--font-family-title);
		font-size: 80px;
		line-height: 93px;
		color: var(--color-title);
	}

	p {
		font-family: var(--font-family-text);
		font-size: 16px;
		line-height: 22px;
		margin-top: 4px;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		padding-left: 4px;
		padding-right: 4px;
	}

	.key-value {
		display: flex;
	}

	dl {
		display: flex;
		flex-direction: column;
		gap: 4px;

		font-family: var(--font-family-text);
		line-height: 22px;
		font-size: 16px;
	}

	dt {
		color: var(--color-title);
		font-weight: 600;
	}

	dt::after {
		content:":\00a0";
	}

	dd::first-letter {
    	text-transform: uppercase;
	}

	@media (max-width: 992px) {
		article {
			flex-direction: column;
		}

		article:nth-child(even) {
			flex-direction: column;
		}
	}
</style>
