---
import i18next, { changeLanguage, t } from "i18next";
import { getImage } from "@astrojs/image";
import MainLayout from "@web/layouts/MainLayout.astro";
import getCharactersInfo from "@server/actions/GetCharactersInfo";

changeLanguage("en");

const characters = await getCharactersInfo({ language: i18next.language });
for (const character of characters) {
    const { src } = await getImage({
        src: character.portrait,
        width: "222",
        height: "313",
        format: "avif"
    });
    character.portrait = src;
}
---
<MainLayout>
	<div class="container">
		<section>
			{
				characters.map((character) => (
					<article id={character.slug}>
						<img src={character.portrait} alt={character.name} />
						<div class="text-container">
							<h4>{character.name}</h4>
							<p><span>{t("characters.age")}: </span>{character.age} {t("characters.years-old")}.</p>
							<p><span>{t("characters.likes")}: </span>{character.likes.join(", ")}.</p>
							<p><span>{t("characters.dislikes")}: </span>{character.dislikes.join(", ")}.</p>
							<p>{character.description}</p>
						</div>
					</article>
				))
			}
		</section>
	</div>
</MainLayout>
<style>
	.container {
		width: 862px;

		background-color: var(--background-color-secondary);
		border-radius: var(--border-radius);

		padding: 25px 32px 32px 32px;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 2px;

		background: #ffffff;
		border: 1px solid #1d1d1b;
		border-radius: var(--border-radius);

		padding: 24px;
	}

	article {
		display: flex;
		gap: 20px;
	}

	article:nth-child(even) {
		flex-direction: row-reverse;
	}

	img {
		width: 239px;
		aspect-ratio: 239 / 338;
		border-radius: var(--border-radius);
	}

	h4 {
		font-family: var(--font-family-title);
		font-size: 64px;
		color: var(--color-title);
	}

	p {
		font-family: var(--font-family-text);
		font-size: 16px;
		line-height: 22px;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		padding-left: 4px;
		padding-right: 4px;
		gap: 4px;
	}

	span {
		color: var(--color-title);
		font-weight: 600;
	}

	@media (max-width: 992px) {
		.container {
			padding: 0;
			width: 100%;
		}

		article {
			flex-direction: column;
		}

		article:nth-child(even) {
			flex-direction: column;
		}

		section {
			border: var(--border);
			gap: 72px;
		}

		article {
			gap: 16px;
		}

		img {
			width: 100%;
		}
	}
</style>
