---
export const prerender = false

import { createClient } from "contentful"
import { NOW_WITH_DEPLOYMENT_OFFSET } from "../server/time/NOW_WITH_DEPLOYMENT_OFFSET"
import FontsCss from "@web/styles/FontsCss.astro"
import ResetCss from "@web/styles/ResetCss.astro"
import VariablesCss from "@web/styles/VariablesCss.astro"
import FlagArgentina from "@web/schedule/FlagArgentina.astro"
import FlagUnitedKingdom from "@web/schedule/FlagUnitedKingdom.astro"

const clientPreview = createClient({
	space: import.meta.env.CONTENTFUL_SPACE_ID!,
	accessToken: import.meta.env.CONTENTFUL_ACCESS_TOKEN_PREVIEW!,
	host: "preview.contentful.com"
})

const clientDelivery = createClient({
	space: import.meta.env.CONTENTFUL_SPACE_ID!,
	accessToken: import.meta.env.CONTENTFUL_ACCESS_TOKEN_DELIVERY!,
	host: "cdn.contentful.com"
})

async function fetchPreviewChapters(language?: string): Promise<any> {
	const locale = language === "en" ? "en-US" : language

	//These are the max values for both limit and include at the time
	const response = await clientPreview.getEntries({
		content_type: "list",
		limit: 1000,
		include: 10,
		locale: locale
	})
	const chapters = response.items.find(entry => entry.fields.name === "chapters")
	return (chapters.fields.items as any[]).flatMap(item =>
		[...(item.fields.cover ? [item.fields.cover] : []), ...(item.fields.pages ?? [])]
	).reverse()
}

async function fetchDeliveryChapters(): Promise<any> {
	//These are the max values for both limit and include at the time
	const response = await clientDelivery.getEntries({
		content_type: "list",
		limit: 1000,
		include: 10,
		locale: "en-US"
	})
	const chapters = response.items.find(entry => entry.fields.name === "chapters")
	return (chapters.fields.items as any[]).map(item => item.fields.name)
}

const entries_EN = await fetchPreviewChapters("en")
const entries_ES = await fetchPreviewChapters("es")
const published_chapter_numbers = (await fetchDeliveryChapters()).map(chapter => chapter.split(" ")[1])

function getEntryStatus(sys) {
	const { publishedVersion, revision, updatedAt, publishedAt } = sys

	if (!publishedVersion) return "draft"
	if (publishedVersion < revision) return ""
	if (new Date(updatedAt) > new Date(publishedAt)) return "changed"
	return "published"
}

type Day = {
	date?: Date
	date_string?: string
	pages: Array<Page>
	is_first_future_date?: boolean
}

type Page = {
	name: string
	status: string
	has_characters: boolean
	image: { en: boolean, es: boolean }
	transcription: { en: boolean, es: boolean }
	has_comment_lucia: { en: boolean, es: boolean }
	has_comment_facundo: { en: boolean, es: boolean }
}

const days: Array<Day> = []

for (let i = 0; i < entries_EN.length; i++) {
	const { sys, fields: fields_EN } = entries_EN[i]
	const { fields: fields_ES } = entries_ES[i]

	const get_author_comment = (author) => {
		const field_name = `author_comment_${author}`
		const english_author_comment = !!fields_EN[field_name]
		const spanish_author_comment =
			(!!fields_ES[field_name] && !english_author_comment) ||
			//This is so because english is default language so spanish is never empty when english is present
			(english_author_comment && JSON.stringify(fields_EN[field_name]) !== JSON.stringify(fields_ES[field_name]))
		return { en: english_author_comment, es: spanish_author_comment }
	}

	const day = days.find(day => day.date_string === fields_EN.createdAt)


	const status = getEntryStatus(sys)
	const is_chapter_list_published = fields_EN.name ? published_chapter_numbers.includes(fields_EN.name.split(" ")[0]) : false
	const transcribed_english = typeof fields_EN.description === "string" && fields_EN.description !== ""
	const transcribed_spanish =
		typeof fields_ES.description === "string" &&
		fields_ES.description !== "" &&
		//This is so because english is default language so spanish is never empty when english is present
		fields_ES.description !== fields_EN.description

	const image_english = !!fields_EN.image?.fields?.file
	const image_spanish = !!fields_ES.image?.fields?.file

	const page: Page = {
		name: fields_EN.name,
		status: status !== "published" ? status : is_chapter_list_published ? status : "unpublished-chapter",
		has_comment_lucia: get_author_comment("lucia"),
		has_comment_facundo: get_author_comment("facundo"),
		transcription: { en: transcribed_english, es: transcribed_spanish },
		image: { en: image_english, es: image_spanish },
		has_characters: !!fields_EN.characters
	}

	if (day)
		day.pages.push(page)
	else
		days.push({
			date_string: fields_EN.createdAt,
			date: fields_EN.createdAt && new Date(fields_EN.createdAt),
			pages: [page]
		})
}

const futureDays = days.filter(item => item.date > NOW_WITH_DEPLOYMENT_OFFSET) // Filter for future dates
	.sort((a, b) => a.date.getTime() - b.date.getTime())

const deployed = days.filter(day => day.date < NOW_WITH_DEPLOYMENT_OFFSET).flatMap(day => day.pages).length
const total = days.flatMap(day => day.pages).length

if (futureDays.length > 0)
	futureDays[0].is_first_future_date = true
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Schedule</title>
	<link rel="icon" href="/favicon.ico" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<FontsCss />
	<ResetCss />
	<VariablesCss />
</head>
<body>
<div class="pages-amount">{`Deployed: ${deployed} | Total: ${total}`}</div>
<ol>
	{days.map(day =>
		<li
			class={
				(day.is_first_future_date ? "first-future-date " : "") +
				(day.pages.some(page =>
						!page.transcription.en ||
						!page.transcription.es ||
						!page.image.en ||
						!page.image.es ||
						!page.has_characters ||
						page.status === "draft" ||
						page.status === "unpublished-chapter" ||
						page.has_comment_lucia.es !== page.has_comment_lucia.en ||
						page.has_comment_facundo.es !== page.has_comment_facundo.en
					) ? "date-has-errors " :
						(day.pages.some(page =>
							page.status === "changed"
						)) ? "date-is-unpublished " : ""
				)
			}>
			<h2>{day.date_string || "undated"}</h2>
			{day.pages.reverse().map(page =>
				<div>
					<h3>
						<span class="status" data-status={page.status} title={page.status}></span>
						{page.name}
					</h3>
					<div class="day-content">

						<div class="content-container">
							{(!page.image.en || !page.image.es) &&
								<div>Image</div>
								<FlagArgentina greyed={!page.image.es} />
								<FlagUnitedKingdom greyed={!page.image.en} />
							}
							{(!page.transcription.en || !page.transcription.es) &&
								<div>Transcriptions</div>
								<FlagArgentina greyed={!page.transcription.es} />
								<FlagUnitedKingdom greyed={!page.transcription.en} />
							}
							{(
									page.has_comment_lucia.en ||
									page.has_comment_lucia.es ||
									page.has_comment_facundo.en ||
									page.has_comment_facundo.es
								) &&
								<div>Author</div>
								<FlagArgentina greyed={!page.has_comment_lucia.es && !page.has_comment_facundo.es} />
								<FlagUnitedKingdom greyed={!page.has_comment_lucia.en && !page.has_comment_facundo.en} />
							}
							{!page.has_characters &&
								<div>Characters</div>
							}
						</div>
					</div>
				</div>
			)}
		</li>
	)}
</ol>
</body>
</html>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url("/images/background_body.webp");
        user-select: none;
    }

    ol {
        --items_spacing: 1rem;
        --date_width: 200px;
        width: var(--content--desktop_width);
        padding: var(--items_spacing);
        background-color: var(--color--blue);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--date_width), 1fr));
        gap: var(--items_spacing);
    }

    li {
        padding: var(--items_spacing);
        background-color: var(--color--white);
        border: var(--component_border);
        border-radius: var(--component_border-radius);
    }

    .status {
        margin-right: 0.5rem;
        height: 24px;
        aspect-ratio: 1;
        border: 1px solid black;
        border-radius: 50%;
    }

    .status[data-status=published] {
        background: lightgreen;
    }

    .status[data-status=changed] {
        background: deepskyblue;
    }

    .status[data-status=draft] {
        background: yellow;
    }

    .status[data-status=unpublished-chapter] {
        background: darkorange;
    }

    .content-container {
        display: grid;
        grid-template-columns: 1fr 20px 20px;
        gap: 0.5rem;
    }

    h3 {
        display: inline-flex;
        font-family: var(--text_font-family);
        color: black;
        margin-bottom: 0.25rem;
        margin-top: 0.5rem;
        font-size: 20px;
    }

    .day-content {
        display: flex;
        align-items: center;
    }

    .first-future-date {
        outline: orange 8px solid;
        outline-offset: -4px;
    }

    .date-has-errors {
        background-color: lightpink;
    }

    .date-is-unpublished {
        background-color: lightblue;
    }

    @media (width <= 72em) {
        ol {
            width: 100%;
            max-width: calc(var(--date_width) * 3 + var(--items_spacing) * 4);
        }
    }

    .pages-amount {
        font-family: var(--heading_font-family);
        font-size: var(--heading_font-size);
        color: var(--heading_color);
        margin: 1rem;
        padding: 1rem;
        background-color: var(--color--white);
        border: var(--component_border);
        border-radius: var(--component_border-radius);


    }
</style>
